@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.navbar .nav-item .active {
    border-bottom: #efc8b1;
    border-width: 2px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-style: solid;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar .nav-item .nav-link {
    color: #8a6626; 
   
  }

  .navbar {
    box-shadow: 0 3px 5px rgba(138, 102, 38, 0.5);
  }

  .container {
    box-shadow: 0 3px 5px rgba(138, 102, 38, 0.5);
}
@media (max-width: 768px) {
  .carousel-item h5 {
    font-size: 1.2rem; 
  }

  .first_col {
    position: initial;
    left: 0 !important;
}

.sec_col {
    order: 1 !important;
}
}

/* FAQs */
.container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.shapes {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shapes li {
  position: absolute;
  bottom: -280px;
  z-index: -1;
  animation: animate 8s linear infinite;
  font-size: 120px; /* Adjust size as needed */
  color: #efc8b1; /* Change to your desired color */
  font-weight: bold;
}


.shapes li:nth-child(even) {
  left: calc(70px * var(--i));
  animation-delay: calc(3s * var(--i));
  animation-duration: calc(1.1s * var(--i) + 9s);
}

.shapes li:nth-child(odd) {
  left: calc(75px * var(--i));
  animation-delay: calc(1.2s * var(--i));
  animation-duration: calc(2s * var(--i) + 6s);
}

.shapes li:nth-child(3n) {
  animation-delay: calc(1.2s * (21 - var(--i)));
  animation-duration: calc(1.6s * (21 - var(--i)) + 4s);
}

.shapes li:not(:nth-child(3n)) {
  animation-duration: calc(1.2s * var(-i) + 8s);
}

@keyframes animate {
  0% {
    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(360deg);
    opacity: 0;
  }
}
